html {
  font-size: 125%;
}
@media screen and (max-width: 3840px) {
  html {
    font-size: 100%;
  }
}
@media screen and (max-width: 2560px) {
  html {
    font-size: 75%;
  }
}
@media screen and (max-width: 1980px) {
  html {
    font-size: 62.5%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.blured {
  filter: blur(15px);
  transition: 0.2s ease-in-out;
  pointer-events: none;
}
.active {
  /*border-bottom: 1px solid #feca39;*/
  text-decoration: underline !important;
}
ul {
  list-style: none;
}
body {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #feca39;
  background-color: #1a1a1a;
  font-family: 'Montserrat', sans-serif;
}
.main-layout {
  width: 100%;
  max-width: 4096px;
  margin: 0 10rem;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0;
}
.logo {
  display: none;
}

.logo-ie img {
  width: 100%;
  max-width: 22rem;
}

/* logo for good browsers START */
@supports (display: grid) {
  .logo-ie {
    display: none;
  }
  .logo {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 5.7rem auto;
    grid-template-rows: 4.4rem 5rem;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: #feca39;
  }
  .logo-lamp {
    display: block;
  }
  .logo-lamp img {
    width: 100%;
  }
  .digital {
    grid-column-start: 2;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  h1 {
    grid-column-start: 2;
    text-align: center;
    font-weight: 700;
    font-size: 3.3rem;
    letter-spacing: -2px;
  }
}
/* logo for good browsers FINISH */
.main-nav {
  display: block;
}
.main-nav ul {
  display: flex;
  align-items: center;
}
.main-nav-item {
  display: flex;
}
.main-nav a {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}
.main-nav a:hover {
  color: #1a1a1a;
  background: #feca39;
}
/* BURGER NAV BUTTON START*/
.menu-toggle-button {
  display: none;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #feca39;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/* BURGER NAV BUTTON END*/

main {
  font-size: 1.5rem;
}
main.blured {
  display: flex;
}
main h2 {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1em;
  margin: 0 0 0.5em 0;
}
.main-article {
  font-size: 2rem;
  margin-bottom: 10rem;
}

.main-article a {
  color: #feca39;
}

.main-article a:hover {
  background: #feca39;
  color: #1a1a1a;
  text-decoration: none;
}

.main-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-contacts li {
  padding: 4rem;
  margin: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex-grow: 1;
  border: 2px dashed #feca39;
  border-radius: 5rem;
}

/* main-contacts for good browsers START */
@supports (display: grid) {
  .main-contacts {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-contacts li {
    max-width: calc(50% - 4rem);
  }
}
/* main-contacts for good browsers FINISH */

.contact-logo img {
  max-width: 7rem;
}

/*.contact-link {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  flex-wrap: wrap;*/
/*}*/

.contact-link p {
  width: 100%;
  margin: 1em 0;
  line-height: 1.5em;
}

.contact-link a {
  display: inline-block;
  margin: 1rem 1rem;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border: 3px solid #feca39;
  border-radius: 5rem;
  font-weight: 700;
  white-space: nowrap;
}

footer {
  display: flex;
  width: 100%;
  margin: auto 0 4rem 0;
  text-align: center;
  justify-content: center;
}

.contacts a {
  display: block;
  text-decoration: none;
  color: #feca39;
  width: 100%;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

.contacts-ul {
  display: flex;
  width: 100%;
  justify-content: center;
}
.contacts-ul li {
  list-style: none;
  margin: 0 1rem;
}
.contacts-ul li img {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  margin: 0 auto;
}
.contacts-ul li a {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  letter-spacing: 0;
}

@media screen and (max-width: 1100px) {
  .main-layout {
    margin: 0 5rem;
  }
}
@media screen and (max-width: 860px) {
  /* NAVIGATION MANIPULATIONS START*/
  header {
    position: relative;
  }

  .menu-toggle-button {
    display: inline-block;
  }

  .main-nav {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .opened-menu {
    transition: 0.2s ease-in-out;
    width: 100%;
    height: auto;
    margin: 0;
    clip: initial;
    top: 100%;
    left: 0;
  }

  .main-nav ul {
    flex-direction: column;
  }

  .main-nav-item {
    width: 100%;
  }

  .main-nav a {
    width: 100%;
    font-size: 2rem;
    padding: 2rem;
    text-align: end;
  }
  /*.active {*/
  /*  border-right: 1px solid #feca39;*/
  /*  border-bottom: none;*/
  /*}*/
  /* NAVIGATION MANIPULATIONS FINISH*/

  .main-contacts li {
    max-width: none;
  }
}

@media screen and (max-width: 660px) {
  .main-layout {
    margin: 0 3rem;
  }
  footer,
  header {
    margin: 3rem 0;
  }
}
@media screen and (max-width: 550px) {
  .main-layout {
    margin: 0 3rem;
  }
  .logo {
    grid-column-gap: 0.8rem;
    grid-template-columns: 4.5rem auto;
    grid-template-rows: 3.5rem 4rem;
  }
  .logo-ie img {
    max-width: 17.6rem;
  }
  h1 {
    font-size: 2.6rem;
  }
  .digital {
    font-size: 1.2rem;
  }
  main h2 {
    font-size: 2.5rem;
  }
  .main-article {
    margin-bottom: 5rem;
  }
  .main-contacts li {
    padding: 2rem;
    margin: 1rem 0;
  }
  .contact-logo img {
    max-width: 6rem;
  }
  .contact-link p {
    font-size: 1.5rem;
    margin: 1em 0;
  }
  .contact-link a {
    margin: 1rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem;
  }
  .contacts a {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
  }
  .contacts-ul li a {
    font-size: 0.9rem;
  }
  .contacts-ul li img {
    width: 3.2rem;
    height: 3.2rem;
  }
}
@media screen and (max-width: 400px) {
  .main-layout {
    margin: 0 2rem;
  }
  header,
  footer {
    margin: 2rem 0;
  }
}
